.header-flat-details{
  color: $dark-gray;
  padding: 30px 0px 30px 30px;
  display: flex;
  h1{
      font-size: 18px;
  }
  p{
      font-size: 14px;
  }
}
.header-flat-owner{
  padding: 20px;
}
.header-flat-name{

}
